<div class="db-title" (click)="toggleQueries()">{{database.db_display_name}}
  <i class="fa fa-caret-down" *ngIf="!showQueries"></i>
  <i class="fa fa-caret-up" *ngIf="showQueries"></i>
</div>

<div class="db-queries-container" *ngIf="showQueries">
  <div class="db-query"
       *ngFor="let query of database.db_queries, let queryIndex=index"
       (click)="getInteractions(database.db_id, query.start_date, query.end_date)">{{query.query_name}}
    <img class="icon icon-delete-query" src="assets/Data_remove.svg" alt="Delete query" title="Delete query"
         (click)="deleteQuery(database.db_id, query.query_id)"/>
  </div>

  <div class="db-query add-query" title="New query" (click)="interactionsService.showNewQueryDialog = true;">
    <img class="icon icon-add-query" src="assets/Data_Add.svg" alt="New query"/>
    New query
  </div>
</div>